<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || t("app.name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Logo HardFun">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if (ga4_id = SiteSetting.ga4_measurement_id) %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga4_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ga4_id %>', { send_page_view: false });
        document.addEventListener('turbo:load', function() {
          gtag('event', 'page_view', { page_location: window.location.href, page_title: document.title });
        });
      </script>
    <% end %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-black min-h-screen flex flex-col">
    <%= render "layouts/navbar" %>

    <main class="flex-1 <%= content_for(:main_class) %>" style="<%= content_for(:main_style) %>">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>

    <% if SiteSetting.ga4_measurement_id && content_for?(:ga_inline) %>
      <script><%= yield :ga_inline %></script>
    <% end %>
    <% if SiteSetting.ga4_measurement_id && (queued_ga_events = pending_ga_events).any? %>
      <script>
        document.addEventListener('turbo:load', function() {
          <% queued_ga_events.each do |ev| %>
            gtag('event', '<%= ev[:name] %>', <%= ev[:params].to_json.html_safe %>);
          <% end %>
        }, { once: true });
      </script>
    <% end %>
  </body>
</html>
