<!DOCTYPE html>
<html lang="<%= I18n.locale %>" style="height:100%;overflow:hidden;">
  <head>
    <title><%= content_for(:title) || t("app.name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body style="height:100%;margin:0;overflow:hidden;display:flex;flex-direction:column;">
    <%= yield %>
  </body>
</html>
